#contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-info {
    font-size: 1.3rem;
    background-color: coral;
    padding: 10px;
    border-radius: 10px;
}

.greeting-card {
    position: relative;
    width: 600px;
    height: 400px;
    background-color: coral;
    padding: 20px;
    border-radius: 20px;
}

.greeting-img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.credits-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 20px 0;
}

.credit {
    position: relative;
    bottom: 40px;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    font-size: 1.4rem;
}

.title {
    font-weight: bold;
}