* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: rebeccapurple;
    display: flex;
    flex-direction: column;
}

header {
    background-color: darkmagenta;
}

nav {
    display: flex;
    align-items: center;
}

#navLogoContainer {
    padding-left: 20px;
    display: flex;
    align-items: center;
}

#navLogoContainer img {
    width: 120px;
    height: auto;
    padding: 20px;
}

#navLogoContainer span {
    padding-left: 5px;
    color: white;
    font-size: 1.8rem;
    font-weight: bold;
}

nav ul {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    gap: 20px;
}

nav li {
    list-style: none;
    padding: 0.5rem 1rem;
    background-color: palevioletred;
    height: fit-content;
    width: 300px;
    height: 50px;
    border-radius: 20px;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav li:hover {
    background-color: rgb(218, 218, 0);
}

#content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #8b008b;
    color: wheat;
    font-size: 1.2rem;
}